@import "_elements.less";
@import "_animation.less";

@green:#69ab2a;
@red: #ce3737;
@opacity: 0.8;

.stock-layout(@size: 200px,@margin: 40px) {
	@rounded: 5px;

	width: @size;
	margin: @margin;
	
	.header {
		position: relative;
		padding: (@size * 0.05) (@size * 0.05) (@size * 0.1) (@size * 0.05);
		height: @size * 0.25;

		.border-radius(@rounded,0,0,@rounded);
		.opacity(@opacity)
	}

	.close {
		color: #333;
		font-family: "Arial", "sans-serif";
		font-size: @size * 0.08;
		float: right;
		top: 5px;
		right: 5px;
		cursor: pointer;
		position: absolute;
		font-weight: 800;
	}

	.symbol {
		font-size: (@size * 0.25) * 0.30;
	}

	.name {
		font-size: (@size * 0.25) * 0.60;
	}

	.body {
		height: @size * 0.60;
		background: rgba(255,255,255,@opacity);
		.border-radius(0,@rounded,@rounded,0);
	}

	.price, .loading {
		padding-top: 0.05 * @size;
	}
	.price {
		font-size: (@size * 0.75) * 0.35;
	}
	.loading {
		font-size: (@size * 0.75) * 0.15;
	}

	.percentage {
		font-size: (@size * 0.75) * 0.15;
	}
}

.stock {
	.stock-layout();

	vertical-align: top;
	font-family: 'Dosis', sans-serif;
	font-weight: 600;
	display: inline-block;
	
	color: #555;
	.drop-shadow(3px,3px,5px,0.3);

	.header {
		text-shadow: 1px 1px 1px #eee;
		text-align: left;
	
		border-bottom: solid 1px #a2a6a7;
		.gradient(#bdc1c4,#bec2c4,#fff);
	}

	.symbol {
		color: #777;
	}

	.name {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.body {
		text-align: center;
		border-top: solid 1px #e1e6e8;
	}

	.price {
		text-shadow: 1px 2px 2px #eee;
		color: #6c7d85;
		font-weight: 800;
	}

	.positive {
		color: @green;
	}

	.negative {
		color: @red;	
	}

}

@media(max-width: 960px) {
	.stock {
		.stock-layout(175px,17px);
	}
}

@media(max-width: 640px) {
	.stock {
		.stock-layout(135px,10px);
	}
}

@media(max-width: 480px) {
	.stock {
		.stock-layout(125px,15px);
		display: block;
		width: auto;
	}

	body {
		padding-top: 0px;
	}
}
