.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
body {
  text-align: center;
  padding-top: 40px;
  background: url('/img/stock-ticker-bg.png') repeat-x top #6c7d85;
}
#add,
#add-input {
  margin: 0;
  padding: 5px;
  font-size: 16px;
  border: solid 1px #ccc;
  color: #222;
}
#add {
  color: #666;
  background: #bdc1c4;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #bec2c4), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #bec2c4, #ffffff);
  background: -moz-linear-gradient(center bottom, #bec2c4 0%, #ffffff 100%);
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#add-input {
  background-color: #EEE;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
.increase {
  background-color: #a9de77;
  -webkit-animation: flashGreen 1s;
  -moz-animation: flashGreen 1s;
  -o-animation: flashGreen 1s;
  animation: flashGreen 1s;
}
.decrease {
  background-color: #e79d9d;
  -webkit-animation: flashRed 1s;
  -moz-animation: flashRed 1s;
  -o-animation: flashRed 1s;
  animation: flashRed 1s;
}
@-webkit-keyframes flashGreen {
  0% {
    background-color: #a9de77;
  }
  100% {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
@-moz-keyframes flashGreen {
  0% {
    background-color: #a9de77;
  }
  100% {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
@-ms-keyframes flashGreen {
  0% {
    background-color: #a9de77;
  }
  100% {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
@-o-keyframes flashGreen {
  0% {
    background-color: #a9de77;
  }
  100% {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
@keyframes flashGreen {
  0% {
    background-color: #a9de77;
  }
  100% {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
@-webkit-keyframes flashRed {
  0% {
    background-color: #e79d9d;
  }
  100% {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
@-moz-keyframes flashRed {
  0% {
    background-color: #e79d9d;
  }
  100% {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
@-ms-keyframes flashRed {
  0% {
    background-color: #e79d9d;
  }
  100% {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
@-o-keyframes flashRed {
  0% {
    background-color: #e79d9d;
  }
  100% {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
@keyframes flashRed {
  0% {
    background-color: #e79d9d;
  }
  100% {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
.stock {
  width: 200px;
  margin: 40px;
  vertical-align: top;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  display: inline-block;
  color: #555;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
.stock .header {
  position: relative;
  padding: 10px 10px 20px 10px;
  height: 50px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  -webkit-opacity: 0.8;
  opacity: 0.8;
}
.stock .close {
  color: #333;
  font-family: "Arial", "sans-serif";
  font-size: 16px;
  float: right;
  top: 5px;
  right: 5px;
  cursor: pointer;
  position: absolute;
  font-weight: 800;
}
.stock .symbol {
  font-size: 15px;
}
.stock .name {
  font-size: 30px;
}
.stock .body {
  height: 120px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.stock .price,
.stock .loading {
  padding-top: 10px;
}
.stock .price {
  font-size: 52.5px;
}
.stock .loading {
  font-size: 22.5px;
}
.stock .percentage {
  font-size: 22.5px;
}
.stock .header {
  text-shadow: 1px 1px 1px #eee;
  text-align: left;
  border-bottom: solid 1px #a2a6a7;
  background: #bdc1c4;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #bec2c4), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #bec2c4, #ffffff);
  background: -moz-linear-gradient(center bottom, #bec2c4 0%, #ffffff 100%);
}
.stock .symbol {
  color: #777;
}
.stock .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.stock .body {
  text-align: center;
  border-top: solid 1px #e1e6e8;
}
.stock .price {
  text-shadow: 1px 2px 2px #eee;
  color: #6c7d85;
  font-weight: 800;
}
.stock .positive {
  color: #69ab2a;
}
.stock .negative {
  color: #ce3737;
}
@media (max-width: 960px) {
  .stock {
    width: 175px;
    margin: 17px;
  }
  .stock .header {
    position: relative;
    padding: 8.75px 8.75px 17.5px 8.75px;
    height: 43.75px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    -webkit-opacity: 0.8;
    opacity: 0.8;
  }
  .stock .close {
    color: #333;
    font-family: "Arial", "sans-serif";
    font-size: 14px;
    float: right;
    top: 5px;
    right: 5px;
    cursor: pointer;
    position: absolute;
    font-weight: 800;
  }
  .stock .symbol {
    font-size: 13.125px;
  }
  .stock .name {
    font-size: 26.25px;
  }
  .stock .body {
    height: 105px;
    background: rgba(255, 255, 255, 0.8);
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .stock .price,
  .stock .loading {
    padding-top: 8.75px;
  }
  .stock .price {
    font-size: 45.9375px;
  }
  .stock .loading {
    font-size: 19.6875px;
  }
  .stock .percentage {
    font-size: 19.6875px;
  }
}
@media (max-width: 640px) {
  .stock {
    width: 135px;
    margin: 10px;
  }
  .stock .header {
    position: relative;
    padding: 6.75px 6.75px 13.5px 6.75px;
    height: 33.75px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    -webkit-opacity: 0.8;
    opacity: 0.8;
  }
  .stock .close {
    color: #333;
    font-family: "Arial", "sans-serif";
    font-size: 10.8px;
    float: right;
    top: 5px;
    right: 5px;
    cursor: pointer;
    position: absolute;
    font-weight: 800;
  }
  .stock .symbol {
    font-size: 10.125px;
  }
  .stock .name {
    font-size: 20.25px;
  }
  .stock .body {
    height: 81px;
    background: rgba(255, 255, 255, 0.8);
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .stock .price,
  .stock .loading {
    padding-top: 6.75px;
  }
  .stock .price {
    font-size: 35.4375px;
  }
  .stock .loading {
    font-size: 15.1875px;
  }
  .stock .percentage {
    font-size: 15.1875px;
  }
}
@media (max-width: 480px) {
  .stock {
    width: 125px;
    margin: 15px;
    display: block;
    width: auto;
  }
  .stock .header {
    position: relative;
    padding: 6.25px 6.25px 12.5px 6.25px;
    height: 31.25px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    -webkit-opacity: 0.8;
    opacity: 0.8;
  }
  .stock .close {
    color: #333;
    font-family: "Arial", "sans-serif";
    font-size: 10px;
    float: right;
    top: 5px;
    right: 5px;
    cursor: pointer;
    position: absolute;
    font-weight: 800;
  }
  .stock .symbol {
    font-size: 9.375px;
  }
  .stock .name {
    font-size: 18.75px;
  }
  .stock .body {
    height: 75px;
    background: rgba(255, 255, 255, 0.8);
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .stock .price,
  .stock .loading {
    padding-top: 6.25px;
  }
  .stock .price {
    font-size: 32.8125px;
  }
  .stock .loading {
    font-size: 14.0625px;
  }
  .stock .percentage {
    font-size: 14.0625px;
  }
  body {
    padding-top: 0px;
  }
}
