.container
#menu
	input#add-input(type="text") new stock... 
	input#add(type="button",value="Add")
	a(href="https://www.github.com/markmarijnissen/stockticker")
		img(style="position: absolute; top: 0; right: 0; border: 0;",src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png",alt="Fork me on GitHub")